parameters:
    level: 2
    paths:
        - src
    ignoreErrors:
    	-
    		message: '#Constructor of class ZabbixWrapper\\EntityManager has an unused parameter \$data.#'
    		path: src/EntityManager.php
